*{
  border: 1px solid red;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul{
 overflow:hidden;
}

nav li{
  float:left
}

.floating-left{
  overflow: hidden;
}
.floating-left li{
  float: left;
  padding: 0 5px;
}

nav{
  /*border: 1px solid red;*/
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
